{% extends "base.html" %}

{% block content %}
    <h2>사이트 소개</h2>
    <table style="width: 800px;">
        <tr><td>
        GITADORA Score Tool (약어: GST) 이란 KONAMI AMUSEMENT 사의 음악 게임인
        GITADORA 시리즈의 플레이어들의 편의를 위하여 만들어진 웹 애플리케이션으로,
        수록곡 조회 및 추가, 달성률과 스킬 조회 및 관리, 라이벌 관리 및 기록 비교 등의 기능을 제공합니다.<br><br>
        상단바의 버튼을 클릭하여 페이지를 이동할 수 있습니다.<br><br>

        본 애플리케이션은 KONAMI AMUSEMENT, BEMANI 및 e-amusement, GITADORA 시리즈와는 아무런 관계가 없으며, 
        GITADORA 의 저작권은 KONAMI AMUSEMENT에 있습니다.
        </td></tr>
    </table>


{% endblock content %}