<!DOCTYPE html>
<html>
<head>
    <title>Score Tool Site</title>
    <style>
        body {
            background-image:url(https://ongeki.sega.jp/assets/img/common/bg_mesh.png);
            background-size:64px 64px;
            background-repeat:repeat;
            background-position:center;
        }

    </style>
</head>

<body>
    <h2>Score Tool Project</h2>
        <ul>
            <li><a href="/">Project Home</a></li><br>
            <li><a href="/admin/">Admin Site</a></li>
        </ul>
        <br>
        <h2>Application List</h2>
        <ul>
            <li><a href="analyze/" title="GITADORA Score Tool">GITADORA Score Tool</a></li>
            <li><a href="IIDX/" title="beatmaniaIIDX Score Tool">beatmaniaIIDX Score Tool (지원 예정)</a></li>
            <li><a href="SDVX/" title="SOUND VOLTEX Score Tool">SOUND VOLTEX Score Tool (지원 예정)</a></li>
            <li><a href="popn/" title="pop'n music Score Tool">pop'n music Score Tool (지원 예정)</a></li>
            <li><a href="DDR/" title="DANCE DANCE REVOLUTION Score Tool">DANCE DANCE REVOLUTION Score Tool (지원 예정)</a></li>
        </ul>
</body>
</html>